*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

*::after, *::before{
    box-sizing: border-box;
}

body{
    font-size: 20px;
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.img{
    max-width: 50px;
}

.img2{
    max-width: 40px;
}

.header{
    width: 100%;
    height: 65px;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: black;
    font-size: 18px;
}


.intro{
    width: 100%;
    height: 100vh;
    background:  url('../img/7777.jpg') center no-repeat;
    background-size: cover;
}

.intro_inner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
  
}

.intro_title{
    font-size: 45px;
    margin-bottom: 30px;
}

.intro___totle{
    max-width: 900px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 25px;
}

.intro_button{
    display: inline-block;
    text-decoration: none;
    color: white; 
    padding: 14px 40px;
    margin-top: 40px;
    transition: .3s linear;
}

.gradient-custom1 {

    background: #d11531;
  
    background: -webkit-linear-gradient(to right, rgba(209, 21, 49, 0.9), rgba(92, 10, 174, 0.9));
  
    background: linear-gradient(to right, rgba(209, 21, 49, 0.9), rgba(92, 10, 174, 0.9))
  }

.intro_button:hover{
    background: #470812;
  
    background: -webkit-linear-gradient(to right, rgba(56, 6, 14, 0.9), rgba(50, 5, 94, 0.9));
  
    background: linear-gradient(to right,  rgba(56, 6, 14, 0.9), rgba(50, 5, 94, 0.9))
}

.img_sim{
    max-width: 100px;
    margin-bottom: 20px;
}

.genre_games{
    display: flex;
    text-align: center; 
    flex-wrap: wrap;
}

.icon{
    width: 33.33333%;
    padding: 0 20px;
}

.icon2{
    width: 33.33333%;
    margin-top: 100px;
    padding: 0 20px;
}

.link_games{
    text-decoration: none;
    color: white;
    transition: .1s linear;
}

.link_games:hover{
    color: violet;
}

.Games{
    width: 100%;
    background-color: rgb(20, 20, 20);;
    padding: 100px 0;
}

.text_game{
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.new{
    width: 100%;
    text-align: center;
    padding: 50px 0;
}

.news{
    display: flex;
    justify-content: space-between;
    color: black;
}

.new1{
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    
}

.img_news{
    width: 400px;
    height: 225.06px;
    border-radius: 5px 5px 0 0;
}

.text_news{
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.h5{
    margin: 10px 0;
}

.p1{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.link_a{
    display: flex;
    margin-top: 30px;
    text-decoration: none;
    color: black;
    align-items: center;
    transition: .3s linear;
    font-size: 16px;
}

.p_1{
    margin-left: 10px;
    margin-bottom: 0;
    color: red
}

.link_a:hover{
    color: #ee82ee;
}

footer{
    background-color: black;
    padding: 20px 0;
}

.text{
    text-decoration: none;
}

.intro2{
    background:  url('../img/7777.jpg') center no-repeat;
    padding-bottom: 100px;
}
.copy{
    margin-left: 15px;
    padding-top: 5px;
}

.img5{
    width: 20px;
}

